* {
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
  font-size: 15px;

}


body {
  margin: 0;
  background-color: #e6ede6;
}

main {
  flex: 1;

}

.container {
  display: flex;
  flex-wrap: wrap;

}

.background-format {
  margin: 2em;
  width: 100%;

}

/* limited to 1 per col */
.dashboard-section {
  padding: 1em;
  text-align: center;
  padding-bottom: 0;

}

.section-heading-container {
  background-color: #a7c9bb;
  display: inline-block;
  text-align: center;
  /* padding: .5em; */
  width: fit-content;
  padding-left: 5em;
  padding-right: 5em;

}

.section-heading-container > h2 {
  font-weight: normal;

}

.section-body-container {
  padding: .25em;
}

.recommended-cat-heading {
  border: 1px solid #B9B9B9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: left;
  line-height: 0;

}

.cat-heading-formatting {
  font-size: 18px;
}

.carousel-container {
  display: flex;
  column-gap: 3em;
  flex-grow: 1;
  flex-basis: 0;
  padding: 1em;
  padding-top: 2em;
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  margin-bottom: .5em; /* spacing between each carousel row */

}

.product-container {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  flex-basis: auto;
  width: 100%;
  /* might have to find a better way to set the widths the same for each box */
  align-self: stretch;
  position: relative;

}

.image-formatting {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  object-fit: cover;
}

.price-formatting {
  margin-top: 0;
  margin-bottom: 0;

}

.product-descr, .product-descr > p > strong {
  font-size: 12px;
}

.product-descr, .product-descr > p > i {
  font-size: 10px;
}

.product-descr > p, .price-container > p {
  padding: .5em;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.one-breakdown {
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin-left: -25px;
  /* cheating to push the recyclable label down 
  for prods with only 1 price breakdown ^ */

}

.regulations-container {
  background-color: #F9F5ED;
  padding: 2em;
  text-align: left;

}

/* to stick the text box directly to the heading element */
.regulations-container > p {
  margin-top: 0;

}

.regulations-subheading-formatting {
  margin-top: 2em;

}